
<link rel="stylesheet" href="app.component.css">


<span>{{ title }} app is running!</span>


<img *ngIf="logoAffiche; else contraireIf"
src="https://www.clipartkey.com/mpngs/m/179-1797634_chewbacca-clipart-wookie-chewbacca-emoji.png"
alt="" srcset="" height="300px" width="auto">

<ng-template #contraireIf>

  <b>Pas d'image</b>

</ng-template>

<ul>
  <li *ngFor="let unSelfie of lesSelfies">
    {{ unSelfie.wookie.nom }}
  </li>

</ul>


